@model MVCExampleDemo.Models.Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h1>@Model.EmpName</h1>
<div>
    <img src="@Model.ImageUrl" alt="@Model.EmpName" width="300" height="300" />
</div>

<div>
    <h2>Employee</h2>
    <p>Lorem Ipsum is a standard placeholder text used in design and publishing to visualize layouts without distracting from content.</p>
    <h2>@Model.Salary</h2>
    <h2><a asp-action="collectionofobjectspassing">back to list</a></h2>

    </div>